
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body class="d-flex flex-column min-vh-100">
<div id="content-wrap" class="flex-grow-1">
</div>
<footer class="bg-dark text-light pt-5 pb-3 mt-auto">
  <div class="container">
    <div class="row">
      <!-- Hospital Description -->
      <div class="col-md-6 mb-4">
        <h5 class="text-uppercase">Your Hospital</h5>
        <p>
          Your Hospital is committed to providing exceptional patient care with the latest medical technologies and a compassionate team of professionals. We serve with integrity, excellence, and empathy.
        </p>
      </div>

      <!-- Social Media Links -->
      <div class="col-md-6 mb-4">
        <h5 class="text-uppercase">Follow Us</h5>
        <ul class="list-unstyled d-flex gap-3">
          <li><a href="https://www.facebook.com" class="text-light text-decoration-none" target="_blank"><i class="bi bi-facebook"></i> Facebook</a></li>
          <li><a href="https://x.com" class="text-light text-decoration-none" target="_blank"><i class="bi bi-twitter"></i> Twitter</a></li>
          <li><a href="https://www.instagram.com" class="text-light text-decoration-none" target="_blank"><i class="bi bi-instagram"></i> Instagram</a></li>
          <li><a href="https://www.linkedin.com" class="text-light text-decoration-none" target="_blank"><i class="bi bi-linkedin"></i> LinkedIn</a></li>
        </ul>
      </div>
    </div>
    <hr class="border-light"/>
    <div class="text-center small">
      &copy; 2025 Your Hospital. All rights reserved.
    </div>
  </div>
</footer>
</body>
</html>
